.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;
  color: #041e42;
}

.container .category_top a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041042;
}
/*Pagination*/

.container .product_pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .product_pagionation_box .product_pagination_main {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product_pagination_main {
  cursor: pointer;
}

.container .product_pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.container .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
  border-radius: 50%;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header_frame .container {
  display: flex;
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 500px;
  background-color: #0053f6;
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5c34b;
  border-radius: 6px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content span {
  margin-top: 18px;
  width: 428px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  color: #041e42;
}

.header_frame .header_content img {
  position: absolute;

  right: 10px;
  bottom: 18px;
}

.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: #f2f2f2;
}

.header_frame .header_right .box_left {
  margin-left: 30px;

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}

.header_frame .box_left p {
  margin: 10px 0px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service_box img {
  width: 35px;
  height: 35px;
}

.service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}

.service_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #626974;
}

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #041e42;
}
/*  5 bo'lim */

.selling_praduct_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_praduct_frame .container {
  display: flex;
  flex-direction: column;
}

.selling_praduct_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_praduct_frame .product_wrapper {
  position: relative;
}

.selling_praduct_frame .next_prev_box {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  z-index: 10;
  display: flex;
  cursor: pointer;
}

.selling_praduct_frame .next_prev_box img {
  width: 30px;
  height: 30px;
  display: flex;
}

.selling_praduct_frame .next_brev_box {
  left: 80px;
  top: 50%;
}

.selling_praduct_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1320px;
  height: 452px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_praduct_frame .product_boxes .product_box {
  width: 305px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selling_praduct_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_praduct_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_praduct_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  justify-content: center;
  outline: none;
  border: none;

  background: #0053f6;
  box-shadow: 0px 5px 25px rgba(0, 83, 246, 0.1);

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.selling_praduct_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_praduct_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_praduct_frame .product_content_box .product_title {
  margin-top: 7px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.selling_praduct_frame .product_content_box .product_desc {
  margin-top: 7px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041042;
}

.selling_praduct_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_praduct_frame .review_box img {
  margin-top: 5px;
}

.selling_praduct_frame .review_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #626974;
}

.selling_praduct_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_praduct_frame .price_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #041042;
}

.selling_praduct_frame .price_box span {
  margin-left: 6px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #626974;
}
.adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0053f6;
}
